body{
	font-size: 16px;
	color: #fff;
	background-color: #321060;
	font-family: 'Oxygen', sans-serif;
}
/**header**/
#header-nav{
	background-color: #F0BA16;
	border-radius:0;
	border: 0; 
}
.navbar-brand{
	padding-top: 2%;
}
.navbar-brand h1{
	font-family: 'Oxygen', sans-serif;
	color: #321060;
	font-size: 1.7em;
	text-shadow: 2px 2px 2px #222;
	margin-bottom: 0;
	margin-top: 5px;
	line-height: .75;

}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #321060;
}
.navbar-header button.navbar-toggle{
	clear: both;
	margin-top: -40px;
}
.navbar-header button.navbar-toggle:hover{
    background:#D3C1EA;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color:#321060;
	text-align: center;
}
#nav-list a:hover{
  background:  #D3C1EA;
}
#nav-list a span{
	font-size: 1.0em;
}
/*main content*/
.text-center{
	font-style: bolder;
	text-shadow: 2px 2px 2px;
	color: #F0BA16;
}
#chicken-tile, #beef-tile, #sushi-tile{
	background-color: #D3C1EA;
	text-align: center;
	color: #321060;
	box-shadow: 0 1px 5px 1px #cccccc;
	

}
#text1, #text2, #text3{
	text-align: justify;
	padding-left: 20px;
	padding-bottom: 20px;
	padding-right: 20px;

}
#c,#b,#s{

	font-style: bolder;
    padding-top: 10px;
}